services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - RAILS_ENV=development
      - REDIS_URL=redis://redis:6379/1
    command: bash -c "bin/rails server -b 0.0.0.0 -p 8000"
    depends_on:
      - redis

  sidekiq:
    build: .
    command: bash -c "bundle exec sidekiq"
    volumes:
      - .:/app
    environment:
      - RAILS_ENV=development
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
